@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {font-family: 'Inter'; margin: 0; padding: 0; color: #fff; scroll-behavior: smooth;}

:root {
    --header-color: #0e0e0e;
    --home-color: #181818;
    --page-color: #252526;
    --card-color: #303030;
    --black: #000;
    --white: #fff;
}

html {
    background-color: var(--page-color)
}

header {
    background-color: var(--header-color);
    color: var(--white);
    padding: 0.8em;
}

h1, h2, h3 {
    font-weight: 800
}

h6 {
    font-weight: 400;
    opacity: 30%;
}

a {
    text-decoration: none;
}

.info1 a {
    color: #0af;
}

header img {
    height: 1.3em;
    transform: translateY(calc(1em / 4.3));
}

.info1 img {
    height: 10em;
    border-radius: 24px
}

.home {
    background-color: var(--home-color);
    color: var(--white);
    text-align: center;
    padding: 10em;
}

.info1, .info2 {
    background-color: var(--page-color);
    color: var(--black);
    text-align: center;
    padding: 1.3em;
}

.card {
    background-color: var(--card-color);
    border-radius: 24px;
    text-align: left;
    padding: 2em;
    width: 28.5%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
    gap: 10px;
}

.button, .button2 {
    padding: 0.75em 1.5em;
    background: #0af;
    font-weight: 700;
    color: #fff;
    border-radius: 0.75em;
    transition: 0.3s;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.button:hover {
    background: #3ebfff;
}

.button2:hover {
    background: #ff0000;
}
